{
	"useTabs": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": ["*.svg"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.yml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
